#app
{
  position:relative;
  left:30%;
  top:16%;
  width:320px;
  height:270px;
}
#app #formulario
{
  position:absolute;
  display:block;   
}
fieldset
{
  width:250px;
  height:150px;
}
legend
{
  font-style: oblique;
  font-family: Georgia, 'Times New Roman', Times, serif
}
