    
#app
{
  position:relative;
  left:30%;
  top:16%;
  width:3200px;
  height:2700px;
}
#app #formulario
{
  position:absolute;
  display:block;   
}
fieldset
{
  width:740px;
  height:8000px;
}
button
{
  font-style: oblique;
  font-family: Georgia, 'Times New Roman', Times, serif
}
